@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700&display=swap');

#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    height: 100%;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.heading {
    display: flex;
    align-items: center;
    height: 580px;
    font-family: 'Spartan', sans-serif;
}

.button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 200px;
    width: 210px;
    opacity: 1;
    border: 1px solid rgba(22, 76, 167, 0.6);
}

.button:hover{
    background-color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
    .card {
        width: 80px;
        height: 30px;
    }
}